@model UserViewModel

@{
    ViewData["Title"] = "Edit User";
}
<style></style>

<h1>Edit User</h1>

<form asp-action="Edit" asp-route-id="@Model.Id" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-floating mb-3">
        <input asp-for="Name" class="form-control" autocomplete="Name" aria-required="true" placeholder="Name" />
        <label asp-for="Name">Name</label>
        <span asp-validation-for="Name" class="text-danger"></span>

    </div>
    <div class="form-floating mb-3">
        <p>Enter your Gender?</p>
        <input asp-for="Gender" type="radio" value="female" autocomplete="Gender" aria-required="true" placeholder="Gender" /> Female
        <input asp-for="Gender" type="radio" value="male" autocomplete="Gender" aria-required="true" placeholder="Gender" /> Male
        <br />
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
    <br />
    <div class="form-floating mb-3">
        <input asp-for="Age" class="form-control" min="12" max="50" autocomplete="Age" aria-required="true" placeholder="Age" />
        <label asp-for="Age">Age</label>
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Weight" class="form-control" min="30" max="120" autocomplete="Weight " aria-required="true" placeholder="Weight " />
        <label asp-for="Weight">Weight in Kg</label>
        <span asp-validation-for="Weight" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Height" class="form-control" min="137" max="200" autocomplete="Height " aria-required="true" placeholder="Height" />
        <label asp-for="Height">Height in cm</label>
        <span asp-validation-for="Height" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="TargetWeight" class="form-control" min="30" max="120" autocomplete="Target Weight " aria-required="true" placeholder="Target Weight" />
        <label asp-for="TargetWeight">TargetWeight in Kg</label>
        <span asp-validation-for="TargetWeight" class="text-danger"></span>
    </div>
    <div class="form-floating">
        <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email" disabled/>
        <label asp-for="Email"></label>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>

</form>
