@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;

}
<link rel="stylesheet" href="~/fonts/linearicons/style.css">
<style>
    .text-danger {
        color: red;
    }
     .form-control {
         border: none;
         border-bottom: 1px solid #e6e6e6;
         display: block;
         width: 100%;
         height: 38px;
         background: none;
         padding: 3px 42px 0px;
         color: #666;
     }

         .form-control::-webkit-input-placeholder {
             font-size: 14px;
             font-family: "Muli-Regular";
             color: #999;
             transform: translateY(1px);
         }

         .form-control::-moz-placeholder {
             font-size: 14px;
             font-family: "Muli-Regular";
             color: #999;
             transform: translateY(1px);
         }

         .form-control:-ms-input-placeholder {
             font-size: 14px;
             font-family: "Muli-Regular";
             color: #999;
             transform: translateY(1px);
         }

         .form-control:-moz-placeholder {
             font-size: 14px;
             font-family: "Muli-Regular";
             color: #999;
             transform: translateY(1px);
         }

         .form-control:focus {
             border-bottom: 1px solid #accffe;
         }

     button {
         border: none;
         width: 100%;
         height: 49px;
         margin-top: 50px;
         cursor: pointer;
         display: flex;
         align-items: center;
         justify-content: center;
         padding: 0;
         background: #7FFFD4;
         color: #999;
         text-transform: uppercase;
         font-family: "Muli-SemiBold";
         font-size: 15px;
         letter-spacing: 2px;
         transition: all 0.5s;
         position: relative;
         overflow: hidden;
     }
</style>

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <label asp-for="Input.OldPassword"> <span class="lnr lnr-lock"></span>Current Password</label>
                <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Input.NewPassword"> <span class="lnr lnr-lock"></span>New Password</label>
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Input.ConfirmPassword"> <span class="lnr lnr-lock"></span>Confirm New Password</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Update password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
