@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="menu">
@if (SignInManager.IsSignedIn(User))
{
    <li class="menu-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="menu-item">
        <form  id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" >
            <input type="hidden" name="logout" value="true" />
            <a href="#" class="nav-link text-dark" onclick="document.getElementById('logoutForm').submit()">Logout</a>
        </form>
    </li>
}
else
{
    <li class="menu-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="menu-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}

</ul>
