@{
    ViewData["Title"] = "Error";
}

<style>
    h1 {
        color: #f00;
        font-size: 3em;
        margin-bottom: 20px;
    }

    p {
        font-size: 1.2em;
    }
</style>

<h1>Error</h1>

<p>@TempData["ErrorMessage"]</p>
