@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Name" class="form-control" autocomplete="Name" aria-required="true" placeholder="Name" />
                <label asp-for="Input.Name">Name</label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>

            </div>
            <div class="form-floating mb-3">
                <p>Enter your Gender?</p>
                <input asp-for="Input.Gender" type="radio" value="female" autocomplete="Gender" aria-required="true" placeholder="Gender" /> Female
                <input asp-for="Input.Gender" type="radio" value="male" autocomplete="Gender" aria-required="true" placeholder="Gender" /> Male
                <br />
                <span asp-validation-for="Input.Gender" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating mb-3">
                <input asp-for="Input.Age" class="form-control" min="12" max="50" autocomplete="Age" aria-required="true" placeholder="Age" />
                <label asp-for="Input.Age">Age</label>
                <span asp-validation-for="Input.Age" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Weight" class="form-control" min="30" max="120" autocomplete="Weight " aria-required="true" placeholder="Weight " />
                <label asp-for="Input.Weight">Weight in Kg</label>
                <span asp-validation-for="Input.Weight" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Height" class="form-control" min="137" max="200" autocomplete="Height " aria-required="true" placeholder="Height" />
                <label asp-for="Input.Height">Height in cm</label>
                <span asp-validation-for="Input.Height" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.TargetWeight" class="form-control" min="30" max="120" autocomplete="Target Weight " aria-required="true" placeholder="Target Weight" />
                <label asp-for="Input.TargetWeight">TargetWeight in Kg</label>
                <span asp-validation-for="Input.TargetWeight" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm Password" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <br />
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
   
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
